<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>SoombtCloob</h3>
    <p>
      Voor dit project moesten we zelf een casus bedenken. En omdat ik creatief failliet ben, heb ik een van
      mijn hobby’s gepakt en er een idee rond verzonnen. Waar ik op uitkwam was soombtcloob een slap aftreksel
      van een bekende streamingsdienst. Het resultaat zal ene streamingsdienst worden waar men muziek kan
      luisteren en toevoegen. Ook komt er functionaliteit voor het maken en gebruiken van playlists.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/theblob.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Max Bogaers</h5>
        <p class="card-text">Studentnummer: 2153494</p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Song</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>comments: [comment]</li>
      <li>creators: [users]</li>
      <li>genres: [genre]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Genre</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-4">
    <p>Playlist</p>
    <ul>
      <li>author: User</li>
      <li>name: string</li>
      <li>description: string</li>
      <li>songs: [song]</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Comment</p>
    <ul>
      <li>title: string</li>
      <li>description: string</li>
      <li>User: User</li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>naam: string</li>
      <li>id: number</li>
      <li>birthdate: date</li>
      <li>email: string</li>
      <li>password: string</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
